#root {
  background-image: url("../ECommerce photos/Futuristic-Red-Black-Background-Design-Graphics-30694681-1.jpg");
  margin: 0 auto;
}

/*Homepage*/
body {
  margin: 0;
}

.home-image {
  width: fit-content;
  background-image: url("/ECommerce photos/ntt68ed2.bmp");
}

/*CSS for AllProducts*/
.sign-in {
  grid-area: sign-in;
  background-color: green;
}

/*CSS for SingleProduct and product catergories link*/

/* .single-product {

  } */

.left-single-image img{
  padding: 5px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10%;
  display:inline-block;
  justify-content: left;
  }

/* .left-single-image img:hover {
  color: #d20808;
} */
  
.right-single-above-details {
  display:flex;
  justify-content: right;
  color:#d20808
  }

  /* .right-single-above-details p:nth-child(1) {
    color:#d20808;
  } */

.right-single-below-details {
  color:#d20808;
  /* justify-content: right; */
  text-align: center;
}

p {
  /* text-wrap:stable; */
  /* width: 300px; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Button .cart-plus {

  } */



/* CSS for CRUD/Cart component */


.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table td {
  width: 200px;
  height: 50px;
  background-color: rgb(54, 28, 28);
  text-align: center;
  color: white;
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}

table td button.edit {
  border: 1px solid green;
  background-color: rgb(2, 108, 2);
  color:white;
}

table td button.edit:hover {
  background-color: #5b9228;
}

table td button.delete {
  border: 1px solid red;
  background-color: rgb(196, 19, 19);
  color: white;
}

table td button.delete:hover {
  background-color: rgb(133, 14, 14);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
