#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

/*CSS for AllProducts*/

h3 {
  color:#270a5a;
  margin-left: 70px;
  justify-content: center;
  display: flex;
}

.all-products {
  /* grid-area: all-products; */
  /* background-color: blue; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 1fr 1fr; */
}

.product-comp .product {
  align-items: center;
  /* box-sizing: border-box; */
  background-color: #9ca494;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}

.product {
  border: 2px solid cornflowerblue;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.product img {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10%;
}

input {
  margin: 0 12.5px ;
  /* width: 83.5%; */
  height: 100%;
  /* background: transparent; */
  /* border: none; */
  /* outline: none; */
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  border-radius: 40px;
  font-size: 16px;
  color: rgb(54, 28, 28);
  padding: 20px 0px;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'sign-in'
                       'all-products', 'all-products';
}

.sign-in {
  grid-area: sign-in;
  background-color: aqua;
}

.site-title {
  background-color: rgb(164, 157, 157);
  color: #270a5a;
  display: flex;
  /* box-shadow: 0 10px #333; */
  justify-content:flex-start;
  align-items:flex-start;
  gap: 2rem;
  padding: 3px 1rem;
  border-radius: 40px;
  text-decoration: none;
}

.title {
  margin: 2px 20px 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position:relative;
  justify-content:flex-start;
  align-items:flex-start;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*CSS for SearchBar*/

.search-bar {
  background-color: #270a5a0b;
  font-family: "Poppins", sans-serif;
  color: #7439db;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 2rem;
  padding: 0 1rem;
  margin: 5px 0px 0px 0px;
  text-decoration: none;
}

.product-search {
  padding: 10px 40px;
  border-radius: 40px;
  align-items: stretch;
  justify-content: center;
}

/* a .sign-img {
  width: 30px;
  margin: 0;
  justify-content: flex-end;
} */

/*CSS for sign-in link*/

.sign-in-link {
  /* background-color: rgb(164, 157, 157); */
  font-family: "Poppins", sans-serif;
  color: #5b9228;
  display: flex;
  /* box-shadow: 0 10px #333; */
  justify-content:flex-end;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  margin: 15px 20px 5px 5px;
  border-radius: 40px;
}

a .sign-in-link{
  /* position:absolute; */
  font-weight: 1000;
  color: #06bd5c;
  text-decoration: none;
  justify-content: flex-end;
}
a .sign-in-link:hover {
  color: #73a6e5;
  text-decoration: underline;
}

/*CSS for NavBar*/

.nav-header {
  background-image: url('/ECommerce photos/u3h5hf5o.bmp');
  /* background-color: rgb(138, 7, 7); */
  color: #7439db;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  margin: 20px 0px 0px;
}

.nav-header ul {
  font-size: 16px;
  position: relative;
  padding: 0;
  margin: 5 0 0 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background-size: cover;
}

.nav-header ul li {
  /* margin: 0 50px; */
  position: relative;
  justify-content:space-between;
  background-size: cover;
}

.nav {
  background-color: rgba(55, 246, 77, 0.821);
  font-family: "Poppins", sans-serif;
  color: #7439db;
  display: flex;
  /* box-shadow: 0 10px #333; */
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}


.nav ul {
  font-size: 18px;
  position: relative;
  padding: 0;
  margin: 5 0 0 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-size: cover;
}
.nav ul li {
  position: relative;
  justify-content: center;
  background-size: cover;
  margin: 0px 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* .nav ul li:hover {
  color: #73a6e5;
  text-decoration: underline;
} */



input[type="radio"] {
  display: none;
}

input .star {
  cursor: pointer;
  transition: color 200ms;
}

/*CSS for SingleProduct and product catergories link*/

/* .single-product {

  } */

.left-single-image img{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10%;
  display:inline-block;
  justify-content: center;
  }

/* .left-single-image img:hover {
  color: #d20808;
} */
  
.right-single-above-details {
  /* display:flex; */
  justify-content: right;
  }

  h2:hover {
    color: #d20808;
    text-decoration: underline;
  }

/* Button .cart-plus {

  } */

/* .right-single-below-details {

  }  */



/* CSS for CRUD/Cart component */


.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table td {
  width: 200px;
  height: 50px;
  background-color: rgb(54, 28, 28);
  text-align: center;
  color: white;
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}

table td button.edit {
  border: 1px solid green;
  background-color: rgb(2, 108, 2);
  color:white;
}

table td button.edit:hover {
  background-color: #5b9228;
}

table td button.delete {
  border: 1px solid red;
  background-color: rgb(196, 19, 19);
  color: white;
}

table td button.delete:hover {
  background-color: rgb(133, 14, 14);
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

div .sign-in-log {
  padding: 30px;
  border: 4px solid thick;
  border-color: #979494;
  background-color: #0f69a4;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
