#root {
  background-image: url("../public/ECommerce photos/Futuristic-Red-Black-Background-Design-Graphics-30694681-1.jpg");
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center; 
}

/*Homepage*/
body {
  margin: 0;
}

.home-image {
  width: fit-content;
  background-image: url("public/ECommerce photos/ntt68ed2.bmp");
}

/*CSS for AllProducts*/

h3 {
  color:#270a5a;
  justify-content: center;
  display: flex;
}

input {
  margin: 0 12.5px ;
  /* width: 83.5%; */
  height: 100%;
  /* background: transparent; */
  /* border: none; */
  /* outline: none; */
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  border-radius: 40px;
  font-size: 16px;
  color: rgb(54, 28, 28);
  padding: 20px 0px;
}

/* .layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'sign-in'
                       'all-products', 'all-products';
} */

.sign-in {
  grid-area: sign-in;
  background-color: aqua;
}



/* a .sign-img {
  width: 30px;
  margin: 0;
  justify-content: flex-end;
} */



/*CSS for SingleProduct and product catergories link*/

/* .single-product {

  } */

.left-single-image img{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10%;
  display:inline-block;
  justify-content: left;
  }

/* .left-single-image img:hover {
  color: #d20808;
} */
  
.right-single-above-details {
  /* display:flex; */
  justify-content: right;
  color:#d20808
  }

  .right-single-above-details p:nth-child(1) {
    color:#d20808;
  }

  h2:hover {
    color: #d20808;
    text-decoration: underline;
  }

/* Button .cart-plus {

  } */

/* .right-single-below-details {

  }  */



/* CSS for CRUD/Cart component */


.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table td {
  width: 200px;
  height: 50px;
  background-color: rgb(54, 28, 28);
  text-align: center;
  color: white;
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}

table td button.edit {
  border: 1px solid green;
  background-color: rgb(2, 108, 2);
  color:white;
}

table td button.edit:hover {
  background-color: #5b9228;
}

table td button.delete {
  border: 1px solid red;
  background-color: rgb(196, 19, 19);
  color: white;
}

table td button.delete:hover {
  background-color: rgb(133, 14, 14);
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

div .sign-in-log {
  padding: 30px;
  border: 4px solid thick;
  border-color: #979494;
  background-color: #0f69a4;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
