section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.all-products-cards {
    width: 250px;
    padding:20px;
    /* grid-area: all-products; */
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.all-products-cards:hover {
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
.product-comp .product-details {
    align-items: center;
    box-sizing: border-box;
    background-color: #9ca494;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    text-decoration: none;
  }
  
.product-details {
    border: 2px solid cornflowerblue;
    padding: 10px;
    margin: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
  }
  
.product-image img {
    width: 150px;
    height: 200px;
    /* box-sizing: border-box; */
    border-radius: 10%;
  }

.product-details button {
    padding: 5px;
    border: none;
   font-weight: bold;
    background-color: blue;
    outline: none;
    border-radius: 2px;
}